body{
  background-color: rgb(9, 28, 53);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Akatab', sans-serif;
  /*font-family: 'Inter', sans-serif;*/
}
.white-card{
  background-color: white;
  height: 530px;
  width: 800px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;

}
.pic{
  width: 360px; 
  height: 485px;
  margin: 10px;
  border-radius: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.the-words{
  margin: 10px;
  margin-top: 40px;
  margin-left: 30px;
  font-size: 1em;
  font-weight:900;
}

.the-words p{
  font-size: 19px;
}
.bullet-points{
   display: flex;
   gap: 15px;
}
.bullet-points li{
  font-size: 16px;
  font-weight: 900;
}

.the-list{
  list-style-type: none;
}
.email-container{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.email-container input{
  border-radius: 10px;
  width: 340px;
  height: 44px;
  border: 1px solid rgb(185, 185, 185);
  padding-left: 30px;
}

.email-container button{
  width: 374px;
  height: 50px;
  background-color: rgb(4, 4, 36);
  color: white;
  margin-top: 10px;
}


@media screen and (max-width:800px){
  .white-card{
    max-width: 300px;
    height: 200px;
  }
}